.git
.github
hermes-agent/.git
hermes-agent/node_modules
hermes-agent/**/node_modules
hermes-agent/venv
hermes-agent/.venv
hermes-agent/tests
hermes-agent/website
hermes-agent/__pycache__
hermes-agent/**/__pycache__
hermes-agent/web
hermes-agent/ui-tui
hermes-agent/gateway
hermes-agent/agent
hermes-agent/tools
hermes-agent/hermes_cli
hermes-agent/plugins
hermes-agent/skills
hermes-agent/optional-skills
hermes-agent/cron
hermes-agent/acp_adapter
hermes-agent/acp_registry
hermes-agent/docker
hermes-agent/scripts
